<div class="text-teal-700 font-bold text-2xl mt-4">
  Select a Repository to Review
</div>
<div class='my-4 grid grid-cols-2 gap-4'>
    <% @repositories.each do |r| %>
    <ul class='bg-white px-4 border shadow-md'>
        <li class='m-2'>
            <div class="flex justify-between items-center mb-2">
                <%= link_to r.name, new_review_path(repo_id: r.id), class: "bg-white border border-teal-700 hover:bg-teal-700 hover:text-white text-teal-700 font-bold py-1 px-2 rounded mx-6"%>
                <%= r.project %>
            </div>
            <div>
                <%= r.repo_location %>
            </div>
        </li>
    </ul>
    <% end %>
</div>