<div class="hidden py-4 px-4 border-l border-b border-r" data-target="tabs.panel">

  <div class='my-4'>
    <ul class='py-2'>
      <% if flagged_files.length > 0 %>
        <% flagged_files.each do |f| %>
          <li>
            <strong><%= f[0]%></strong>
          </li>
          <% f[1].each_pair do |k, v| %>
            <li>
            <span class="text-blue-500 font-bold"><%= link_to k.search_value, rule_path(k.rule_id), target: :_blank, rel: "noopener noreferrer" %></span>
              <%= " is on the lines: #{v[:locations].reverse}"%>
          </li>
          <% end %>
          <br>
        <% end %>
      <% else %>
        No Files Have Been Flagged Yet.
      <% end %>
    </ul>
  </div>
</div>
