<%= form_with(model: repository, local: true) do |form| %>

  <div class="field" hidden>
    <%= form.text_field :secret_path,  value: repository.secret_path %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Repository', class:'selection-target bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-6' %>
  </div>

<% end %>
