<%= form_with(model: repository, local: true) do |form| %>

  <div class="field" hidden>
    <%= form.text_field :secret_path,  value: repository.secret_path %>
  </div>

  <div class="actions">
    <%= form.submit 'Pull Changes', class:'border border-teal-700 hover:bg-teal-700 hover:text-white bg-gray-200 text-teal-700 font-bold py-1 px-2 rounded ml-4' %>
  </div>

<% end %>
