<%= form_with(model: diff, local: true) do |form| %>

  <div class="field notes">
    <%= form.text_area :notes, :value => diff.notes, :rows => 5 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
