<nav class="flex items-center justify-between flex-wrap border-b border-teal-700 p-4">
<div class="w-1/6">
</div>
  <div class="flex items-center flex-shrink-0 text-gray-700 mr-6">
    <img src="/icon1.png" class="h-16"/>
    <a href="/" class="font-semibold text-xl tracking-tight">DiffBuilder  |  </a>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="/repositories" class="text-xl inline-block mt-0 mr-4 <%= @path_repos ? 'rounded-lg bg-teal-600 text-white border py-1 px-2' : 'text-teal-700 hover:text-teal-900' %>">
        Repositories
      </a>
      <a href="/reviews" class="text-xl inline-block mt-0 mr-4 <%= @path_revi ? 'rounded-lg bg-teal-600 text-white border py-1 px-2' : 'text-teal-700 hover:text-teal-900' %>">
        Reviews
      </a>
      <a href="/languages" class="text-xl inline-block mt-0 mr-4 <%= @path_langu ? 'rounded-lg bg-teal-600 text-white border py-1 px-2' : 'text-teal-700 hover:text-teal-900' %>">
        Languages
      </a>
      <a href="/checklists" class="text-xl inline-block mt-0 mr-4 <%= @path_checkl ? 'rounded-lg bg-teal-600 text-white border py-1 px-2' : 'text-teal-700 hover:text-teal-900' %>">
        Checklists
      </a>
    </div>
    <div hidden>
      <a href="/" class="inline-block text-sm px-4 py-2 leading-none border rounded text-teal-700 border-teal-700 hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Home</a>
    </div>
  </div>
<div class="w-1/6">
</div>
</nav>